.portfolio
	background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
	background-size: 50%
	padding: 56px 0 96px 0
	color: $text-color
	&__title
		max-width: 800px
		text-align: center
		margin: auto
		margin-top: 33px
		margin-bottom: 93px
		font-size: 30px
		line-height: 45px
	&__arrows
		max-width: 120px
		margin: auto
		margin-top: 68px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
.slider
	&__image
		margin: auto
	&__item
		&:active
			outline: none
		&:focus
			outline: none
@media (max-width: 992px)
	.slider
		&__item
			padding: 0 20px
	.portfolio
		&__title
			font-size: 26px	
			margin-top: 15px
			margin-bottom: 80px	
@media (max-width: 768px)
	.slider
		&__item
			padding: 0 10px
	.portfolio
		&__title
			font-size: 24px
			line-height: 40px
@media (max-width: 567px)
	.portfolio
		&__title
			margin-bottom: 60px
			font-size: 20px
			line-height: 35px
@media (max-width: 420px)
	.slider
		&__item
			padding: 0
		&__image
			width: 85%
			margin-left: 16px
	.portfolio
		padding: 41px 0 60px 0
		&__title
			width: 95%
			font-size: 18px
			line-height: 21px
			margin: 0 0 41px 1px
		&__arrows
			margin-top: 46px
			padding-right: 10px
			max-width: 130px
			

